*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --background-color:  #393E44;
  --bg-button-color: #22272E;
  --font-color: #CDD9E5;

  font-size: 62.5%; /* 1rem = 10px */
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: var(--font-color);
  text-align: center;
  width: 100vw;
  background-image: url(./assets/bg-image.png);
  background-color: var(--background-color);
  background-size: cover;
  background-repeat: no-repeat;
}


.card > img{
  width: 15rem;
  margin-top: 3.5rem;
  border: .4rem solid var(--bg-button-color);
  border-radius: 50%;
}

.card h1{
  margin-top: 2rem;
  
}

.links{
  display: flex;
  margin-top: 5rem;
  align-items: center;
  flex-direction: column;
}


.links > a{
  width: 20rem;
  height: 3rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-decoration: none;
  color: var(--font-color);
  font-size: 1.6rem;
  font-weight: 700;
  border: 1px solid var(--font-color);
  margin-bottom: 1.5rem;
  background-color: var(--bg-button-color);
  border-radius: 2rem;
  gap: 1.5rem;
}

.links > a:hover{
  width: 20.5rem;
  height: 3.5rem;
}

.links > a > img {

  width: 1.6rem;
}




